:root {
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-color: #eeeff1;
    --green-color:#73BF99;
    --red-color:#C7171B;
    --yellow-color:#CDD069;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
}

a{
    color: var(--link-color);
    text-decoration: none;
}

/*NAVBAR*/
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height: 80px;
    align-items: center;
}

nav .left a{
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

nav .right a{
    color: var(--text-color);
    margin: 0 10px;
}

nav .right a:last-child{
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
}

nav .right a span{
    margin-left: 5px;
}

/*Section 1: Hero*/
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 40px;
}

.hero .text{
    flex: 5;
}

.hero .text h2{
    font-size: 45px;
}

.hero .text .links{
    margin-top: 25px;
}

.hero .text .links a{
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
}

.hero .text .links a:last-child{
    background-color: var(--link-color);
    color: var(--background-color);
    border: 2px solid var(--background-color);
    transition:none;
}

.hero .text .links a:hover{
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

.hero .text .links a:last-child:hover{
    background-color: var(--link-color);
    color: var(--background-color);
    border: 2px solid var(--background-color);
}

.hero .headshot{
    flex: 2;
    display: flex;
    justify-content: right;
}

.hero .headshot img{
    width: 350px;
    border-radius: 30%;
}
/*Section2: Skills*/
.skills .header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 25px;
}
/* I Master section*/
.skills .master .text{
    padding: 10px 50px;
}

.skills .master .text h2{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}


.skills .master .text p{
    padding: 0px 200px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.skills .master .objects{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 100px;
    margin-bottom: 20px;
}

.skills .master .objects .skill{
    display: inline-block;
    height: 50px;
    width: 170px;
    margin:20px;
    border: 1.5px solid var(--green-color);
    border-radius: 5px;
    align-content: center;
    text-align: center;
    font-size: 20px;
}

.skills .objects .skill:hover{
    transform: scale(1.01);
    transition: 0.1s;
}
/*I know section*/
.skills .know .text{
    padding: 10px 50px;
}

.skills .know .text h2{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}


.skills .know .text p{
    padding: 0px 200px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.skills .know .objects{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 100px;
    margin-bottom: 20px;
}

.skills .know .objects .skill{
    display: inline-block;
    height: 50px;
    width: 170px;
    margin:20px;
    border: 1.5px solid var(--link-color);
    border-radius: 5px;
    align-content: center;
    text-align: center;
    font-size: 20px;
}
/*I am learning section*/
.skills .learning .text{
    padding: 10px 50px;
}

.skills .learning .text h2{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.skills .learning .text p{
    padding: 0px 200px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.skills .learning .objects{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 100px;
    margin-bottom: 20px;
}

.skills .learning .objects .skill{
    display: inline-block;
    height: 50px;
    width: 170px;
    margin:20px;
    border: 1.5px solid var(--yellow-color);
    border-radius: 5px;
    align-content: center;
    text-align: center;
    font-size: 20px;
}



@media (max-width: 750px){
    /*NAVBAR*/
    nav{
        padding: 0 20px;
    }

    nav .right a{
        font-size: 22px;
    }

    nav .right a:last-child{
        color: var(--text-color);
        background-color: transparent;
        padding: 0;
    }

    nav .right span{
        display:none;
    }
}